.profil-page {
  margin: 80px auto 0;
  max-width: 1200px;
  
  

  .icons {
    top: 55px;
  }

  .log-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and(max-width: 885px) {
      grid-template-columns: 1fr;
    }
  }

  .connection-form {
    border: none;
    background: $color-4;
    min-width: 490px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

    @media screen and(max-width: 550px) {
      min-width: 200px;
    }

    .form-container {
      display: grid;
      grid-template-columns: 30% 70%;

      @media screen and(max-width: 550px) {
        grid-template-columns: 1fr;
      }

      ul {
        li {
          cursor: pointer;
          border-radius: 20px;
          padding: 10px 20px;
          transition: 0.2s;

          @media screen and(max-width: 550px) {
            width: 80%;
            margin: 0 auto;
          }
        }
        .active-btn {
          background: $color-3;
          color: $color-2;

          &:hover {
            background: $color-2;
            color: $color-3;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
        #login {
          position: relative;
          @media screen and(max-width: 550px) {
            margin-bottom: 30px;

            &:after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              height: 1px;
              background: $color-2;
            }
          }
        }
      }
      form {
        input {
          padding: 14px 20px;
          margin: 0;
          font-size: 1.2rem;
          font-family: $font-2;
          border-radius: 20px;

          &:focus {
            box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
          }
        }
        a {
          color: rgb(62, 62, 214);
        }
      }
    }
  }
  h1 {
    text-align: center;
    margin: 10px 0 6px;
  }
  .img-container {
    display: grid;
    align-items: center;
    height: 100%;

    img {
      height: 400px;
      // width: 700px;
      // border-radius: 20px;

      @media screen and(max-width: 1050px) {
        height: 220px;
      }
      @media screen and(max-width: 950px) {
        height: 200px;
      }
      @media screen and(max-width: 885px) {
        display: none;
      }
    }
  }
  .update-container {
    // display: grid;
    // grid-template-columns: 50% 50%;

    // @media screen and(max-width: 700px) {
    //   grid-template-columns: 1fr;
    // }

    // > div {
      height: auto;
      min-height: 550px;
      background: $color-4;
      border-radius: 25px;
      padding: 30px;
      margin: 30px ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
     
        img {
          height: 200px;
          width: 200px;
          border-radius: 20px;
          margin-bottom: 50px;
        }
        button {
          border-radius: 25px;
          min-height: 50px;
          max-width: 300px;
          font-size: 23px;

          // margin: 5px 0;
          // margin: 50px;
          // float: right;
        }
      

      @media screen and(max-width: 700px) {
        margin: 10px 10px;
        
      }
    // }
  }
 
}
